@color:#c87432;
@colorRGBA:rgba(200,116,50,0.8);

@white:#FFFFFF;
@softwhite:#FAFAFA;
@whitegray:#EBEBEB;
@silver:#CCCCCC;

@dark:#888888;
@black:#121214;

@darkTrans:rgba(204,204,204,0.7);
@whiteTrans:rgba(255,255,255,0.7);


.white{
	color:@white;
}
.softwhite{
	color:@softwhite;
}
.whitegray{
	color:@whitegray;
}
.dark{
	color:@dark;
}
.black{
	color:@black;
}
.silver{
	color:@silver ;
}
.color{
	color:@color;
}

.white-bg{
	background:@white;
}
.softwhite-bg{
	background:@softwhite;
}
.whitegray-bg{
	background:@whitegray;
}
.dark-bg{
	background:@dark;
}
.black-bg{
	background:@black;
}
.silver-bg{
	background:@silver;
}
.color-bg{
	background:@color;
}
.dark-trans-bg{
	background:@darkTrans;
}
.white-trans-bg{
	background:@whiteTrans;
}

a{
	color:@black;
}
a:hover{
	color:@color;
}
::selection {
  background: @color;
  color:@black;
}
::-moz-selection {
  background: @color;
  color:@black;
}

.showcase-panel h1>span{
	border-color:@white;
}

.explore-link a:hover{
	color:@white;
}
.main-nav-menu li a.main-nav-link:focus{
	
	color:@color;
}
.sub-nav a{
	color:@dark;
}
.sub-nav a:hover{
	color:@color;
}
.client-list span a{
	color:@dark;
}
.client-list span a:hover{
	color:@black;
}
.profile-list li{
	border-color:@whitegray;
}
.profile-list li:hover, .profile-list li:hover a{
	background-color:@color;
	color:@black;
	border-color:@dark;
}
.alert{
  background: @color;
  color:@black;
}
.news-post-content h5{
	border-color:@whitegray;
}
