body{
	overflow: hidden;
}
.intro-04 .promo-caps{
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.intro-04 .promo-caps > span{
  border-left: solid 5px yellow;
  margin-left: 15px;
  padding-left: 10px;
  font-weight: 200;
  letter-spacing: 4px;
}

/*transparent nav menu and header*/
.masthead, .sticky-panel{
  background-color: rgba(255,255,255,0.1);
}
.masthead:hover{
  background-color: #fff;
}
.masthead.revealed{
  background-color: #fff;
}