body{
	overflow: hidden;
}
.intro-05-bg{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.intro-05 h1{
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
}
.intro-05 .promo-caps{
	font-size: 16px;
	line-height: 23px;
	font-weight: 200;
}
.intro-05-overlay{
	background-color: rgba(255,255,255,0.9);
}