body{
	overflow: hidden;
}
.intro-03-bg{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.intro-03 .promo-caps{
	font-size: 28px;
	line-height: 38px;
	font-weight: 200;
}